<mat-card *ngIf="isPageReady">
  <div class="columns is-desktop">

    <div class="column is-one-third">
      <div class="columns is-multiline">
        <div class="column is-half has-text-centered" *ngFor="let language of languages">
          <button mat-button (click)="selectLanguage(language)">
            {{language.name}}
          </button>
        </div>
      </div>

      <div class="columns">
        <div class="column has-text-centered">
          <button mat-mini-fab (click)="selectLanguage(default_language)">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="column is-one-third">

      <form (ngSubmit)="submitForm(f)" #f="ngForm" class="form one-page-form" *ngIf="edit_language">

        <i class="fa fa-window-close" aria-hidden="true" (click)="edit_language = null" style="float: right"></i>

        <input type="hidden" name="id" [ngModel]="edit_language.id" name="id" required>

        <mat-form-field class="form-group">
          <input matInput type="text" placeholder="İsim" [ngModel]="edit_language.name" name="name" required autofocus>
        </mat-form-field>

        <mat-form-field class="form-group">
          <input matInput type="text" placeholder="Slug" [ngModel]="edit_language.slug" name="slug" required autofocus>
        </mat-form-field>

        <button mat-raised-button type="submit">{{ edit_language.id ? 'Güncelle' : 'Ekle'}}</button>

        <button mat-raised-button type="button" id="delete" color="warn" (click)="delete(edit_language.id)" *ngIf="edit_language.id">Sil</button>

      </form>
    </div>

  </div>
</mat-card>
