<div *ngIf="isPageReady">
  <div class="container">
    <mat-card>
      <div class="title">
        <h1 class="is-size-3">Menüler</h1>
      </div>
      <hr>

      <nav class="level">
        <div class="level-item has-text-centered" *ngFor="let role of roles">
          <mat-checkbox (change)="filterMenus(role)" [ngModel]="role.filter">{{role.name}}</mat-checkbox>
        </div>
      </nav>

      <div class="columns">
        <div class="column is-one-third">
          <aside class="menu">
            <app-recursive-menu [menus]="listedMenus" [locale]="locale" (select)="selectMenu($event)"></app-recursive-menu>
            <!-- <ul class="menu-list">
              <li *ngFor="let menu of listedMenus">
                <a (click)="selectMenu(menu)">{{menu.name[locale]}} - {{menu.id}}</a>
                <ul *ngIf="menu.children.length > 0">
                  <li *ngFor="let child of menu.children">
                    <a (click)="selectMenu(child)">{{child.name[locale]}} - {{child.id}}</a>
                  </li>
                </ul>
              </li>
            </ul> -->
          </aside>
        </div>
        <div class="column is-one-third is-offset-2">
          <form (ngSubmit)="submitForm(f)" #f="ngForm" class="form one-page-form" id="edit" *ngIf="edit_menu">

            <i class="fa fa-window-close" aria-hidden="true" (click)="edit_menu = null" style="float: right"></i>

            <input type="hidden" name="id" [ngModel]="edit_menu.id" name="id" required>

            <mat-tab-group>
              <mat-tab [label]="language.name" *ngFor="let language of languages">

                <mat-form-field class="form-group">
                  <input matInput type="text" placeholder="İsim" [(ngModel)]="edit_menu.name[language.slug]" name="name[{{language.slug}}]"
                    required autofocus>
                </mat-form-field>

                <mat-form-field class="form-group">
                  <input matInput type="text" placeholder="Tooltip" [(ngModel)]="edit_menu.tooltip[language.slug]" name="tooltip[{{language.slug}}]"
                    required autofocus>
                </mat-form-field>

              </mat-tab>
            </mat-tab-group>

            <mat-form-field class="form-group">
              <input matInput type="text" placeholder="Url" [ngModel]="edit_menu.url" name="url" required autofocus>
            </mat-form-field>

            <mat-form-field class="form-group">
              <input matInput type="text" placeholder="Weight" [ngModel]="edit_menu.weight" name="weight" required>
            </mat-form-field>

            <mat-form-field class="form-group">
              <input matInput type="text" placeholder="Parent" [ngModel]="edit_menu.parent" name="parent" required>
            </mat-form-field>

            <div class="columns">
              <div class="column">

                <div class="level">
                  <strong>İzinler</strong>
                </div>

                <div class="level">
                  <ul>
                    <li class="" *ngFor="let role of has_roles">
                      <span class="interactive-role" [ngClass]="{'role-changed': role.changed}" (click)="discardRole(role.id)">{{role.name}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="column">

                <div class="level">
                  <strong>İzin Ekle</strong>
                </div>

                <div class="level">
                  <ul>
                    <li *ngFor="let role of not_has_roles">
                      <span class="interactive-role" [ngClass]="{'role-changed': role.changed}" (click)="addRole(role.id)">{{role.name}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <button mat-raised-button type="submit">{{ edit_menu.id ? 'Güncelle' : 'Ekle'}}</button>
            <button mat-raised-button type="button" id="delete" color="warn" (click)="deleteMenu(edit_menu.id)" *ngIf="edit_menu.id">Sil</button>
          </form>
        </div>
      </div>

    </mat-card>
  </div>
  <button mat-fab class="add-btn" (click)="selectMenu(default_menu)">
    <mat-icon>add</mat-icon>
  </button>
</div>