<div class="">
  <div class="container">

    <mat-card class="menu-container">
      <div class="columns">

        <div class="column">
          <a [routerLink]="[{ outlets: {'settings': ['menus']}}]"><button mat-button>Menü</button></a>
        </div>

        <div class="column">
          <a [routerLink]="[{ outlets: {'settings': ['languages']}}]"><button mat-button>Dil</button></a>
        </div>

        <div class="column">
          <a [routerLink]="[{ outlets: {'settings': ['categories']}}]"><button mat-button>Kategori</button></a>
        </div>

        <div class="column">
          <a [routerLink]="[{ outlets: {'settings': ['users']}}]"><button mat-button>Kullanıcılar</button></a>
        </div>

        <div class="column">
          <a [routerLink]="[{ outlets: {'settings': ['roles']}}]"><button mat-button>Roller</button></a>
        </div>

        <div class="column">
          <a [routerLink]="[{ outlets: {'settings': ['permissions']}}]"><button mat-button>İzinler</button></a>
        </div>

      </div>
    </mat-card>


    <div class="columns">
      <div class="column">

          <router-outlet name="settings"></router-outlet>

      </div>
    </div>

  </div>
</div>
