<mat-card *ngIf="isPageReady">
  <div class="">
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <td>ID</td>
          <td>Kullanıcı Adı</td>
          <td>İsim</td>
          <td>E-posta</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" [routerLink]="['/user', user.user_id]">
          <td>{{user.id}}</td>
          <td>{{user.user_id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>

    <button mat-fab class="add-btn" routerLink="/user">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-card>