<mat-card *ngIf="isPageReady">
  <div class="columns is-desktop">

    <div class="column is-one-third">
      <div class="columns is-multiline">
        <div class="column is-12 has-text-centered" *ngFor="let permission of permissions">
          <button mat-button (click)="selectPermission(permission)">
            <!-- BUG POTENTIAL -->
            {{permission.name}}
          </button>
        </div>
      </div>

      <div class="columns">
        <div class="column has-text-centered">
          <button mat-mini-fab (click)="selectPermission(default_permission)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="column is-one-third">

      <form (ngSubmit)="submitForm(f)" #f="ngForm" class="form one-page-form" *ngIf="edit_permission">

        <i class="fa fa-window-close" aria-hidden="true" (click)="edit_permission = null" style="float: right"></i>

        <input type="hidden" name="id" [ngModel]="edit_permission.id" name="id" required>
        
        <mat-form-field class="form-group">
          <input matInput type="text" placeholder="Name" [ngModel]="edit_permission.name" name="name" required autofocus>
        </mat-form-field>

        <mat-form-field class="form-group">
          <input matInput type="text" placeholder="Slug" [ngModel]="edit_permission.slug" name="slug" required>
        </mat-form-field>

        <mat-form-field class="form-group">
          <input matInput type="text" placeholder="Description" [ngModel]="edit_permission.description" name="description" required>
        </mat-form-field>

        <button mat-raised-button type="submit">{{ edit_permission.id ? 'Güncelle' : 'Ekle'}}</button>

        <button mat-raised-button type="button" id="delete" color="warn" (click)="deletePermission(edit_permission.id)" *ngIf="edit_permission.id">Sil</button>

      </form>
    </div>

  </div>
</mat-card>
