<div *ngIf="isPageReady">
  <div class="container">
    <mat-card>
      <div class="title">
        <h1 class="is-size-3">Roller</h1>
      </div>
      <hr>

      <div class="columns is-desktop">

        <div class="column is-one-third">
          <aside class="menu">
            <ul class="menu-list">
              <li (click)="selectRole(role)" *ngFor="let role of roles"><a>{{role.name}}</a></li>
            </ul>
          </aside>
        </div>

        <div class="column is-offset-2 is-one-third">
          <form (ngSubmit)="submitForm(f)" #f="ngForm" class="form one-page-form" *ngIf="edit_role">

            <i class="fa fa-window-close" aria-hidden="true" (click)="edit_role = null" style="float: right"></i>

            <input type="hidden" name="id" [ngModel]="edit_role.id" name="id" required>

            <mat-form-field class="form-group">
              <input matInput type="text" placeholder="Name" [ngModel]="edit_role.name" name="name" required autofocus>
            </mat-form-field>

            <mat-form-field class="form-group">
              <input matInput type="text" placeholder="Slug" [ngModel]="edit_role.slug" name="slug" required>
            </mat-form-field>

            <mat-form-field class="form-group">
              <input matInput type="text" placeholder="Description" [ngModel]="edit_role.description" name="description"
                required>
            </mat-form-field>

            <div class="columns">
              <div class="column">

                <div class="field">
                  <p class="title is-size-4 has-text-weight-light">İzinler</p>
                  <hr>
                </div>
                <div class="field" *ngFor="let permission of permissions">
                  <mat-checkbox [(ngModel)]="permission.exist" [name]="permission.slug">{{permission.name}}</mat-checkbox>
                </div>

              </div>
            </div>

            <button mat-raised-button type="submit">{{ edit_role.id ? 'Güncelle' : 'Ekle'}}</button>

            <button mat-raised-button type="button" id="delete" color="warn" (click)="deleteRole(edit_role.id)" *ngIf="edit_role.id">Sil</button>

          </form>
        </div>

      </div>
    </mat-card>
    <button mat-fab class="add-btn" (click)="selectRole(default_role)">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
</div>